
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="info"></div>*@
        <div class="text-danger">
            @ViewBag.ErrorMessage
            @ViewBag.Message
        </div>

        <div id="TableLogin">
            <table>
                <tr>
                    <td>@Html.Label("E-mail", htmlAttributes: new { @class = "lbltext" })</td>
                    <td>@Html.Editor("email", new { htmlAttributes = new { @class = "txtBox txt" } })</td>
                </tr>
                <tr>
                    <td>@Html.Label("Mot de Passe", htmlAttributes: new { @class = "" })</td>
                    <td>@Html.Editor("password", new { htmlAttributes = new { @class = "txtBox txt", type = "password" } })</td>
                 </tr>
            </table>
            <div class="sub">
                <input type="submit" value="Valider" class="btn btn-default" />
            </div>

            <div id="LinkToRegister">
                @Html.ActionLink("Créer un compte Passager", "Create", "Riders") / @Html.ActionLink("Créer un compte Conducteur", "Create", "Drivers")
            </div>
        </div>

}
