@model smaaahh_web.Models.Rating
@{
    ViewBag.Title = "Ajouter un Avis";
}

<h2>Ajouter un Avis</h2>

<div class="info">@ViewBag.Message</div>
@using (Html.BeginForm("Create", "Avis", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.RideId)
        @Html.HiddenFor(model => model.DriverId)
        @Html.HiddenFor(model => model.RiderId)
        @Html.HiddenFor(model => model.DateCreation)
        @Html.HiddenFor(model => model.Enabled)
        @Html.HiddenFor(model => model.isTop)

        <div id="TableRegister">

            <table>
                <tr>
                    <td>@Html.Label("Note", htmlAttributes: new { @class = "" })</td>
                    <td>
                        <select name="Note" id="Note">
                            @for (int i = 1; i <= 5; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>    
                    <td>@Html.Label("Message", htmlAttributes: new { @class = "" })</td>
                    <td>
                        @Html.TextAreaFor(model => model.Message, new { htmlAttributes = new { @class = "txtBox txt" } })
                    </td>
                </tr>
            </table>
            <div class="sub">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

