@model smaaahh_web.Ride

@{
    ViewBag.Title = "Payment";
}

<h2>Payment</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Ride</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Passager ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Rider.UserName, new { disabled = "disabled", @readonly = "readonly", @class = "txtBox txt" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Conducteur ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Driver.UserName, new { disabled = "disabled", @readonly = "readonly", @class = "txtBox txt" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PosXStart, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.PosXStart, new { disabled = "disabled", @readonly = "readonly", @class = "txtBox txt" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PosYStart, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.PosYStart, new { disabled = "disabled", @readonly = "readonly", @class = "txtBox txt" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PosXEnd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.PosXEnd, new { disabled = "disabled", @readonly = "readonly", @class = "txtBox txt" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PosYEnd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.PosYEnd, new { disabled = "disabled", @readonly = "readonly", @class = "txtBox txt" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Nombre de passagers", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.PlaceNumber, new { disabled = "disabled", @readonly = "readonly", @class ="txtBox txt" })
            </div>
        </div>
<div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Price, new { disabled = "disabled", @readonly = "readonly", @class = "txtBox txt" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.nbKm, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @Html.TextBoxFor(model => model.nbKm, new { disabled = "disabled", @readonly = "readonly", @class = "txtBox txt" })
            </div>
        </div>
        
        @*<div class="form-group">
            @Html.LabelFor(model => model.PromotionCodeId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PromotionCodeId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PromotionCodeId, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.Label("Choix du paiement : ")
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Payment,  htmlAttributes : new {  @class = "txtBox txt" } )
                @Html.ValidationMessageFor(model => model.Payment, "", new { @class = "text-danger txtBox txt" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Valider" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
